<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Settings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container">
          <a class="navbar-brand" href="#">Raindrop</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/account">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Awesome Team</h2>

        <h1 class="text-center mb-4">Team Leader = Wilco Tromp - 34531033</h1>
        <h1 class="text-center mb-4">Team DJ = Melissa Roodt - 33509735</h1>
        <h1 class="text-center mb-4">Team MVP = Rorisang Serapelo - 35406895</h1>
        <h1 class="text-center mb-4">Team Weather Anchor 1 = Sarah Masu - 32850123</h1>
        <h1 class="text-center mb-4">Team Weather Anchor 2 = Oratile Seloro - 35834609</h1>
        <h1 class="text-center mb-4">Team Register Agent = Chriselda Mathebula - 34250964</h1>
        <h1 class="text-center mb-4">Team Vanisher = Jevon Gounden - missing</h1>

    </div>
</body>
</html>